In [5]:
import pandas as pd
from geopy.distance import vincenty
import time

In [2]:
#订单流之间的关系
rawDataDir_flow2flow_info='/Users/leidelong/work/projects/knowledge_graph/2002445_flow2flow_info.txt'
#订单信息
rawDataDir_waybill_info='/Users/leidelong/work/projects/knowledge_graph/2002445_1month.txt'

df_flow2flow=pd.read_csv(rawDataDir_flow2flow_info,sep=',')
df_waybill=pd.read_csv(rawDataDir_waybill_info,sep='	')


df_waybill=df_waybill[ (df_waybill['poi_class_id'] >=0 ) & (  df_waybill['recipient_class_id'] >=0 )]
print df_waybill.shape
print df_waybill.columns

df_waybill=df_waybill[(df_waybill['ctime_hour']>=11) & (df_waybill['ctime_hour']<=13)]
df_waybill.sort_values(["ctime"],ascending=True)
print df_waybill.shape

(181411, 15)
Index([u'bm_waybill_id', u'bm_delivery_area_id', u'rider_id', u'recipient_lng',
       u'recipient_lat', u'platform_poi_id', u'ctime', u'finished_time',
       u'delivery_distance', u'delivery_distance_source', u'poi_class_id',
       u'recipient_class_id', u'distance', u'wb_dt', u'ctime_hour'],
      dtype='object')
(53479, 15)

In [3]:
df_waybill.head()

,bm_waybill_id,bm_delivery_area_id,rider_id,recipient_lng,recipient_lat,platform_poi_id,ctime,finished_time,delivery_distance,delivery_distance_source,poi_class_id,recipient_class_id,distance,wb_dt,ctime_hour
22,1506222125324548,2002445,2288514,121571650,31094740,2584046,1506222125,1506224506,2921.0,3.0,1.0,4,505.251489,20170924,11
23,1506222292020872,2002445,2885563,121591150,31074680,2665905,1506222292,1506226106,5017.0,3.0,1.0,2,567.300818,20170924,11
24,1506222524063088,2002445,3515368,121577172,31108126,2472327,1506222524,1506225811,2195.0,3.0,2.0,3,239.568700,20170924,11
25,1506222661175880,2002445,3558676,121587083,31068676,2179282,1506222661,1506225264,4183.0,3.0,2.0,1,372.503337,20170924,11
26,1506222677011056,2002445,706856,121604839,31137332,1329428,1506222677,1506225184,3827.0,3.0,1.0,34,737.235059,20170924,11

In [13]:
df_waybill['minutes']=df_waybill['ctime'].apply(lambda x :time.localtime(x).tm_hour*60 +  time.localtime(x).tm_min)

In [19]:
df_waybill.head()

,bm_waybill_id,bm_delivery_area_id,rider_id,recipient_lng,recipient_lat,platform_poi_id,ctime,finished_time,delivery_distance,delivery_distance_source,poi_class_id,recipient_class_id,distance,wb_dt,ctime_hour,minutes
22,1506222125324548,2002445,2288514,121571650,31094740,2584046,1506222125,1506224506,2921.0,3.0,1.0,4,505.251489,20170924,11,662
23,1506222292020872,2002445,2885563,121591150,31074680,2665905,1506222292,1506226106,5017.0,3.0,1.0,2,567.300818,20170924,11,664
24,1506222524063088,2002445,3515368,121577172,31108126,2472327,1506222524,1506225811,2195.0,3.0,2.0,3,239.568700,20170924,11,668
25,1506222661175880,2002445,3558676,121587083,31068676,2179282,1506222661,1506225264,4183.0,3.0,2.0,1,372.503337,20170924,11,671
26,1506222677011056,2002445,706856,121604839,31137332,1329428,1506222677,1506225184,3827.0,3.0,1.0,34,737.235059,20170924,11,671

In [25]:
df_waybill_baseinfo=df_waybill.loc[:,['bm_delivery_area_id','poi_class_id','recipient_class_id','minutes']]

In [26]:
df_waybill_baseinfo.groupby(['bm_delivery_area_id','poi_class_id','recipient_class_id','minutes']).size().reset_index(name='counts')

       bm_delivery_area_id  poi_class_id  recipient_class_id  minutes  counts
0                  2002445           0.0                   1      666       1
1                  2002445           0.0                   1      674       2
2                  2002445           0.0                   1      683       1
3                  2002445           0.0                   1      689       1
4                  2002445           0.0                   1      693       1
5                  2002445           0.0                   1      695       1
6                  2002445           0.0                   1      705       1
7                  2002445           0.0                   1      708       1
8                  2002445           0.0                   1      713       1
9                  2002445           0.0                   1      721       1
10                 2002445           0.0                   1      729       1
11                 2002445           0.0                   1      733       1
12                 2002445           0.0                   1      741       1
13                 2002445           0.0                   1      748       1
14                 2002445           0.0                   1      758       1
15                 2002445           0.0                   1      769       1
16                 2002445           0.0                   1      788       1
17                 2002445           0.0                   1      803       1
18                 2002445           0.0                   1      816       1
19                 2002445           0.0                   2      660       9
20                 2002445           0.0                   2      661       6
21                 2002445           0.0                   2      662       3
22                 2002445           0.0                   2      663       3
23                 2002445           0.0                   2      664       4
24                 2002445           0.0                   2      665      10
25                 2002445           0.0                   2      666       6
26                 2002445           0.0                   2      667       7
27                 2002445           0.0                   2      668       2
28                 2002445           0.0                   2      669       7
29                 2002445           0.0                   2      670       5
...                    ...           ...                 ...      ...     ...
11625              2002445           5.0                  33      789       1
11626              2002445           5.0                  33      797       2
11627              2002445           5.0                  33      820       1
11628              2002445           5.0                  33      833       1
11629              2002445           5.0                  33      835       1
11630              2002445           5.0                  34      663       1
11631              2002445           5.0                  34      672       1
11632              2002445           5.0                  34      674       1
11633              2002445           5.0                  34      676       1
11634              2002445           5.0                  34      680       1
11635              2002445           5.0                  34      691       1
11636              2002445           5.0                  34      694       1
11637              2002445           5.0                  34      697       1
11638              2002445           5.0                  34      698       1
11639              2002445           5.0                  34      699       1
11640              2002445           5.0                  34      702       1
11641              2002445           5.0                  34      719       1
11642              2002445           5.0                  34      732       1
11643              2002445           5.0                  34      738       1
11644              2002445           5.0                  34      767       1
11645              2002445           5.0                  37      677       1
11646              2002445           5.0                  37      685       1
11647              2002445           5.0                  37      695       1
11648              2002445           5.0                  37      706       1
11649              2002445           5.0                  37      716       1
11650              2002445           5.0                  37      736       1
11651              2002445           5.0                  37      754       1
11652              2002445           5.0                  37      763       1
11653              2002445           5.0                  37      773       1
11654              2002445           5.0                  37      821       1

[11655 rows x 5 columns]